body {
    background-color: rgb(201, 201, 201);
}

.card-title {
    text-align: center;
    font-size: 35px;
    height: 60px;
    /* color:rgb(201, 201, 201) ; */
    color: white;
    background-color:rgba(47, 47, 206, 0.849);
    border: black 2px !important;
}

#card-div {
    width: 33%;
    /* display: flex;
    justify-content: center; */
}

#full-body {
    display: flex;
    justify-content: center;
}

#contact-img {
    width: 50%;
    height: auto;
}

.card-text {
    display: flex;
    justify-content: center;
}

.card-link {
    color: white !important;
}